@tailwind base;
@tailwind components;






.cartside{
  opacity: 0;
  visibility: hidden;
  /* transition:1s; */
}
.showCat::-webkit-scrollbar {
  display: none;
}
.carts {
  overflow: auto; /* Ensure the element can scroll */
}

/* Customize the scrollbar */
.carts::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

.carts::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
}

.carts::-webkit-scrollbar-thumb {
  background: #090f1b; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.carts::-webkit-scrollbar-thumb:hover {
  background: #04070D; /* Change color when hovering over the scrollbar */
}

.underSign{
  /* position: fixed; */
  /* right: -5000px; */
  margin: auto;
  transition: 0.4s;
}
.showSign{
  /* position: fixed; */
  /* right: 0px; */
  transition: 0.4s;
  margin: auto;
} 
.underCat{
  position: fixed;
  left: -5000px;
  transition: 0.2s;
}
.showCat{
  position: fixed;
  left: 0px;
  transition: 0.2s;
} 



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
react-hot-toast {
  z-index: 9999999 !important;
}
.slick-slide {
padding: 0px 10px
}


/* From Uiverse.io by gustavofusco */ 

@tailwind utilities;


